// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../../core/resource';
import { APIPromise } from '../../../core/api-promise';
import { RequestOptions } from '../../../internal/request-options';
import { path } from '../../../internal/utils/path';

export class Networks extends APIResource {
  /**
   * This endpoint allows you to **get token price based on the provided token
   * contract address on a network**
   *
   * @example
   * ```ts
   * const network =
   *   await client.onchain.simple.networks.retrieve(
   *     'addresses',
   *     { network: 'eth' },
   *   );
   * ```
   */
  retrieve(
    addresses: string,
    params: NetworkRetrieveParams,
    options?: RequestOptions,
  ): APIPromise<NetworkRetrieveResponse> {
    const { network, ...query } = params;
    return this._client.get(path`/onchain/simple/networks/${network}/token_price/${addresses}`, {
      query,
      ...options,
    });
  }
}

export interface NetworkRetrieveResponse {
  data?: NetworkRetrieveResponse.Data;
}

export namespace NetworkRetrieveResponse {
  export interface Data {
    id?: string;

    attributes?: Data.Attributes;

    type?: string;
  }

  export namespace Data {
    export interface Attributes {
      token_prices?: Record<string, string>;
    }
  }
}

export interface NetworkRetrieveParams {
  /**
   * Path param: network ID \*refers to [/networks](/reference/networks-list)
   */
  network: string;

  /**
   * Query param: include 24hr price change, default: false
   */
  include_24hr_price_change?: boolean;

  /**
   * Query param: include 24hr volume, default: false
   */
  include_24hr_vol?: boolean;

  /**
   * Query param: include market capitalization, default: false
   */
  include_market_cap?: boolean;

  /**
   * Query param: include total reserve in USD, default: false
   */
  include_total_reserve_in_usd?: boolean;

  /**
   * Query param: return FDV if market cap is not available, default: false
   */
  mcap_fdv_fallback?: boolean;
}

export declare namespace Networks {
  export {
    type NetworkRetrieveResponse as NetworkRetrieveResponse,
    type NetworkRetrieveParams as NetworkRetrieveParams,
  };
}
